.cuerpo {
  /*height: 100em;*/
  background-color: #E8EAF6;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.noOverflow {
  overflow: hidden;
}

.titulo {
  color: #5C6BC0;               /* Indigo 400 */
  padding-bottom: 0.5em;
}

/*.carrousel{
  padding-top: 3em;
  padding-left: 2em;
}*/

.carrouselContainer{
  margin-left: auto;;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
}

.carrouselContainer > div {
  position: relative;
}


.pelicula {
  /*padding-left: 1em;*/
  padding-right: 1em;
  height: auto;
  width: 200px;
}

.pelicula > img{
  width: inherit;
}

/*.caratula {
  height: 100%;
  z-index: 1;
  position: relative;
}

.infoPelicula {
  position: relative;
  left: 9.5em;
  bottom: 3em;
  z-index: 10;
}

.iconoInformacion {
  height: 10em;
  color: #ffffff;
}*/
