.cabecera{
  width: 600px;
  height: 550px;
}

.imagen{
  float:left;
  width: 300px;
  height: auto;
  z-index: 1;
}

.imagenYBoton{
  width:300px;
  float:left;
  align-items: center;
}

.datos{
  float:left;
  text-align: center;
  margin-left: 2em;
  width : 260px;
  }

  .titulo{
    color: #5C6BC0;
  }

.botonCompra{
  margin-top: 1em;
  float:left;
  width: 280px;
}
