/*********************************************
*
*	CSS PAGINA LISTA DE CINES
*	lista-cines.html
*
*********************************************/
.divisor{
	border-top-color: #a9a9a9;
	margin-left: 20px;
	margin-right: 20px;
}
.tituloCines{
	font-size: 20px;
	margin-left: 5px;
}
.columnasCines{
	width: 100%;
	border: 1px solid #d3d3d3;
}
.columnaCategorias{
	background-color: #3f51b5;
}
.columnaCategorias.texto{
	color: #ffffff;
}
.columnaCategorias.active{
	color: #ffff00;
}
.columnaLista{
	background-color: #ffffff;
}
.columnaLista.active{
	background-color: #add8e6;
}
.tarjetaInfo{
	border-right: 1px solid #d3d3d3;
	border-top:1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
	background-color: #f5f5f5;
}
.tarjetaInfo md-content{
	background-color: #f5f5f5;
}
.tarjetaInfo .md-subheader{
	background-color: #f5f5f5;
}
.tituloTarjeta{
	padding-top: 10px;
	padding-bottom: 5px;
}
.tituloTarjeta .md-button.md-raised{
	background-color: #ffffff;
}
#tituloTarjeta{
	color:#ffffff;
	font-size: 20px;
	padding-top: 10px;
}
#subtituloTarjeta{
	color: #ff99ff;
	font-size: 12px;
	margin-left: -15px;
	padding-bottom: 5px;
}
#subtituloTarjeta span{
	margin-left: -10px;
	margin-top: -5px;
}
.cine-ico{
	padding-right: 10px;
	max-width: 24px !important;
}
.cine-fab{
	padding-top: 10px;
}
.cine-fab.mini{
	padding-top: 8px;
}
.mapa{
	width: 100%;
}







/*********************************************
*
*	CSS PAGINA LISTA DE PELICULAS
*	lista-peliculas.html
*
*********************************************/
.noOverflow {
	overflow: hidden;
}

.fullScreen {
	height: 100vh;
}

.lp-titulo {
	color: #5C6BC0;
	/* Indigo 400 */
	padding-bottom: 0.3em;
	padding-top: 0.7em;
}

.horizontalScroll {
	width: auto;
	height: auto;
	overflow-x: visible;
	overflow-y: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}
.carrouselContainer {
	margin-top: 0;
	margin-bottom: 0;
	height: auto;
	width: 100%;
}
.carrouselContainer > div {
	position: relative;
}
.pelicula {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
	height: auto;
	width: 200px;
	z-index: 1;
}
.pelicula:hover .infoPelicula {
	display: block;
}
.tarjetaPelicula{
	background-color: #f5f5f5;
}
.pelicula > img {
	width: inherit;
}
.binfo-pelicula{
	margin-left: -5px !important;
}
.infoPelicula {
	display: none;
	position: absolute;
	bottom: 1em;
	margin-left: 1em;
	z-index: 10;
	background-color: #000000;
	border-radius: 20%;
	opacity: 0.8;
}
/* Botones */
.herramientas {
	padding: 0;
	margin: 0;
}
.caratula{
	border-radius: 2px;
}





/*********************************************
*
*	CSS DEL POP-UP DE INFORMACION DE LA PELI
*	infoPeli.html
*
*********************************************/
.pop-cabecera{
	width: 600px;
	height: 550px;
}

.pop-imagen{
	float:left;
	width: 300px;
	height: auto;
	z-index: 1;
}

.pop-imagenYBoton{
	width:300px;
	float:left;
	align-items: center;
}

.pop-datos{
	float:left;
	text-align: center;
	margin-left: 2em;
	width : 260px;
}

.pop-titulo{
	color: #5C6BC0;
}

.pop-botonCompra{
	margin-top: 1em;
	float:left;
	width: 280px;
}




/*********************************************
*
*	CSS DE LA PAGINA DE ASIENTOS
*	asientos.html
*
*********************************************/

.subrayado {
	margin-top: 2px;
	border: 1px solid #0288D1;
	width: 335px;
}
.asiento {
	width: 30%
	float: left;
	text-align: justify;
	padding-left: 20px;
}
.fondocolor{
	background-color: #ECEFF0;
}
.messagePanel {
	border: solid 1px black;
	width: 320px;
	height: 330px;
}
.seat {
    width: 20px;
    height: 20px;
    margin: 5px;
    border: solid 1px black;
    float: left;
}
.clearfix {
	clear: both;
}
.available {
    background-color: #96c131;
}
.hovering{
	background-color: #ae59b3;
}
.selected{
    background-color: red;
}




/*********************************************
*
*	CSS INFORMACION PROCESO
*	info-proceso.html
*
*********************************************/
.tarjeta-proceso{
	border-radius: 2px;
	background-color: #f5f5f5;
}
.lateral-proceso{
	padding: 0 16px;
}
.superior-proceso{
	padding-top: 8px;
}
.inferior-proceso{
	padding-bottom: 16px;
}
.titulo-proceso{
	padding:16px;
	font-size: 20px;
	background-color: #3f51b5;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.cartel-proceso{
	height: 100px;
	position: relative;
    overflow:hidden;
}
.cartel-proceso img{
	position: absolute;
	top: -60px;
}
.label-proceso{
	font-size: 10px;
}
.titulo-precio{
	padding:16px;
	font-size: 20px;
	background-color: #FF5252;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.cantidad-precio{
	font-size: 20px;
	color: #FF5252;
}
.iva-precio{
	font-size: 14px;
	color: #727272;
}
.pagar-proceso{
	background-color: #212121 !important;
	color: #ffffff !important;
}
.cancelar-proceso{
	background-color: #FF5252 !important;
	color: #ffffff !important;
}

/*********************************************
*
*	CSS Resumen
*
*********************************************/
.cuadro-resumen{
	border-radius: 2px;
	background-color: #f5f5f5;
}
.imagen-resumen{
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	max-width: 100%;
}

/*********************************************
*
*	ICONS STYLESHEET
*
*********************************************/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.pink1{ color: #ff99ff; }
.material-icons.pink2{ color: #E91E63; }
.material-icons.blue{ color: #3F51B5; }
.material-icons.green{ color: #4CAF50; padding: 0 12px; margin-bottom: 8px;}
