<!DOCTYPE html>
<html lang="es" ng-app="cine">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cine | Entradas.com</title>
  <link rel="icon" type="image/gif" href="images/e_roboto.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS de la página -->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/asientos.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Script de la página, aqui va el angular y el material y cosas para que funcione en red -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <!-- Modulos cargados -->
  <script src="scripts/asientos.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/database.js"></script>
</head>

<body>
  <!-- ToolBar - BEGIN -->
  <!-- <md-toolbar class="md-hue-2"> -->
  <md-toolbar class="md-toolbar-tools">
    <!-- <md-button class="md-icon-button" ng-disabled="true"> -->
    <md-button class="md-icon-button" ng-disabled="false">
      <md-icon> menu </md-icon>
    </md-button>
    <h1>
      <span>{{company}}</span>
    </h1>
    <span flex></span>
    <md-button class="md-icon-button">
      <md-icon>search</md-icon>
    </md-button>
  </md-toolbar>
  <!--
   Barra de progreso valores: [0, 100]. Considerar seleccionar la pelicula completa un paso
   1 - Selección Pelicula / Cine    25%
   2 - Selección Cine / Película    50%
   3 - Selección Sesión y Butacas   75%
   4 - Pago                         100%
  -->
  <md-progress-linear md-mode="determinate" value="75" class="md-warn"></md-progress-linear>
  <md-content class="cuerpo md-primary">
    <!-- Tu código aquí - BEGIN-->
    <div class="md-title titulo">
      Seleccionar sesión y butacas
    </div>
	
<div ng-cloak>
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Sesión 1" >
				<md-content class="md-padding">
					<h1 class="md-display-2">Sesión 1</h1>
            <p> SESIÓN 1 </p>             
            <div ng-controller="SelectAsyncController" layout="column" layout-align="center center" style="padding:40px" ng-cloak>
              <p>Select can call an arbitrary function on show. If this function returns a promise, it will display a loading indicator while it is being resolved:</p>
              <div layout="column" layout-align="center center">
              <md-select placeholder="Assign to user" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;">
              <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
              </md-select>
              <p class="md-caption">You have assigned the task to: {{ user ? user.name : 'No one yet' }}</p>
              </div>
            </div>


				</md-content>
			</md-tab>

			<md-tab label="Sesión 2">
				<md-content class="md-padding">
				  <h1 class="md-display-2">Sesión 2</h1>
				  <p>SESIÓN 2</p>
				 
				</md-content>
			</md-tab>
			<md-tab label="Sesión 3">
				<md-content class="md-padding">
				  <h1 class="md-display-2">Sesión 3</h1>
				  <p>SESIÓN 3</p>
					  
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</div>
    <!-- Tu código aquí - END-->
  </md-content>

</body>

</html>
