<md-content class="cuerpo md-primary md-padding">
	<div class="md-title titulo">Seleccionar sesión y butacas</div>

			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="17:40" md-on-select="model.sesion = '17:40';">
					<md-content style="padding-left: 5px">
					 <h1 class="md-display-1">Sesión de las {{ model.sesion }}</h1>
					</md-content>
				</md-tab>

				<md-tab label="20:30" md-on-select="model.sesion = '20:30';">
					<md-content style="padding-left: 5px">
						<h1 class="md-display-1">Sesión de las {{ model.sesion }}</h1>
					</md-content>
				</md-tab>

				<md-tab label="22:45" md-on-select="model.sesion = '22:45';">
					<md-content style="padding-left: 5px">
						<h1 class="md-display-1">Sesión de las {{ model.sesion }}</h1>
					</md-content>
				</md-tab>
			</md-tabs>
	</md-content>
				<div class="fondocolor" ng-controller="SelectedTextController">
					<!--SELECCIONAR NUMERO DE ASIENTOS-->
					<div>
						<h1 class="md-title" style="padding-left: 20px">Selecciona un número de butacas</h1>
						<div layout="row" style="padding-left:20px">
							<md-input-container>
								<label>Butacas</label>
								<md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
									<md-optgroup label="Butacas">
										<md-option ng-value="item" ng-repeat="item in items">{{item}} butaca/s</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					<!--FIN SELECCIONAR NUMERO DE ASIENTOS-->
					</div>
					<!--AQUI SE HACE LA SELECCION DE ASIENTOS-->
					<br>

						<!--SELECCION DE FILA Y COLUMNA-->
					 <!--<div>
						<h1 class="md-title">Selecciona la posición de la butaca 1</h1>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 1</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 1">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 1</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 1">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div> -->
					<!--TERMINA SELECCION DE FILA Y COLUMNA-->

					<div class="asiento">
					<div ng-switch="selectedItem == '1' || selectedItem == '2' || selectedItem == '3' || selectedItem == '4' || selectedItem == '5' || selectedItem == '6' || selectedItem == '7' || selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">


						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 1</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 1</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 1">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 1</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 1">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>

					</div>
					</div>
					<br>
					<div class="asiento">
					<div ng-switch="selectedItem == '2' || selectedItem == '3' || selectedItem == '4' || selectedItem == '5' || selectedItem == '6' || selectedItem == '7' || selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 2</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 2</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 2">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 2</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 2">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
						</div>
					</div>
					<div class="asiento">
					<div ng-switch=" selectedItem == '3' || selectedItem == '4' || selectedItem == '5' || selectedItem == '6' || selectedItem == '7' || selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 3</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 3</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 3">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 3</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 3">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
					</div>
					</div>
					<div class="asiento">
					<div ng-switch="selectedItem == '4' || selectedItem == '5' || selectedItem == '6' || selectedItem == '7' || selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 4</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 4</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 4">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 4</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 4">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>

					</div>
					</div>
					<div class="asiento">
					<div ng-switch="selectedItem == '5' || selectedItem == '6' || selectedItem == '7' || selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 5</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 5</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 5">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 5</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 5">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
					</div>
					</div>
					<div class="asiento">
					<div ng-switch="selectedItem == '6' || selectedItem == '7' || selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 6</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 6</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 6">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 6</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 6">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
					</div>
					</div>
					<div class="asiento">
					<div ng-switch="selectedItem == '7' || selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 7</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 7</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 7">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 7</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 7">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
					</div>
					</div>
					<div class="asiento">
					<div ng-switch="selectedItem == '8' || selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 8</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 8</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 8">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 8</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 8">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
					</div>
					</div>
					<div class="asiento">
					<div ng-switch="selectedItem == '9' || selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 9</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 9</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 9">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 9</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 9">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
					</div>
					</div>
					<div class="asiento">
					<div ng-switch="selectedItem == '10'">
						<div ng-switch-when="true">
						<h1 class="md-title">Selecciona la posición de la butaca 10</h1>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Fila butaca 10</label>
								<md-select ng-model="selectedFila" md-selected-text="getSelectedFila()">
									<md-optgroup label="Fila butaca 10">
										<md-option ng-value="fila" ng-repeat="fila in filas">Fila {{fila}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
						<br>
						<div layout="row">
							<md-input-container>
								<label>Butaca 10</label>
								<md-select ng-model="selectedColumna" md-selected-text="getSelectedColumna()">
									<md-optgroup label="Butaca 10">
										<md-option ng-value="columna" ng-repeat="columna in columnas">Columna {{columna}}</md-option>
									</md-optgroup>
								</md-select>
							</md-input-container>
						</div>
					</div>
					</div>
					</div>
	<center>
		<md-button class="md-raised md-primary" ng-show="selectedItem != 0"ng-click="model.asientos = selectedItem;
			model.precio = (9 * selectedItem); $nextStep()">
			Siguiente
		</md-button>
	</center>
</div>
</html>
