	<!--
	 Barra de progreso valores: [0, 100]. Considerar seleccionar la pelicula completa un paso
	 1 - Selección Pelicula / Cine    25%
	 2 - Selección Cine / Película    50%
	 3 - Selección Sesión y Butacas   75%
	 4 - Pago                         100%
	-->
<md-content class="cuerpo md-primary" ng-controller="steps" search-id="step">
	<multi-step-container steps="steps">
		<header>
			<md-progress-linear ng-hide="$isFirst()" md-mode="determinate" value="{{$getActiveStep().title}}" class="md-warn">
			</md-progress-linear>
			<div>
				<button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
					<span class="fa fa-chevron-left"></span>
					Previous
				</button>
				<strong ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title}}"></strong>

				<button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
					Next
					<span class="fa fa-chevron-right"></span>
				</button>
			</div>
		</header>
		<div layout-gt-xs="row" layout-xs="column">
			<main step-container flex-gt-xs="" flex-xs="100"></main>
			<info-proceso ng-hide="$isFirst()" flex-gt-xs="20" flex-xs="100"></info-proceso>
		</div>
	</multi-step-container>
</md-content>
