<md-content class="md-padding noOverflow" layout="row" ng-controller="verPeliculas as peliculas"
	layout-wrap>
	<div class="md-title titulo">
		Destacados
	</div>
	<div class="carrouselContainer">
		<div class="horizontalScroll">
			<div class="pelicula" ng-repeat="pelicula in peliculas">
				<img src="{{pelicula.imagen}}" class="caratula md-whiteframe-2dp" alt="{{pelicula.titulo}}">
				<div class="infoPelicula" ng-controller="CuadroInfo" class="md-padding" id="popupContainer" ng-cloak>
					<md-button class="md-icon-button" ng-click="showConfirm($event)">
						<md-icon style="color: #ffffff">info</md-icon>
					</md-button>
				</div>
			</div>
		</div>
	</div>

	<div class="md-title titulo">
		Recomendados
	</div>
	<div class="carrouselContainer">
		<div class="horizontalScroll">
			<div class="pelicula" ng-repeat="pelicula in peliculas">
				<img src="{{pelicula.imagen}}" class="caratula md-whiteframe-2dp" alt="{{pelicula.titulo}}">
				<!-- Info button -->
				<div class="infoPelicula" ng-controller="CuadroInfo" class="md-padding" id="popupContainer" ng-cloak>
					<md-button class="md-icon-button" ng-click="showConfirm($event)">
						<md-icon style="color: #ffffff">info</md-icon>
					</md-button>
				</div>
			</div>
		</div>
	</div>
</md-content>
