<md-content ng-cloak="">
	<!-- COLUMNA DE DECISION DE CINES A MOSTRAR -->
	<div layout="row" class="md-padding" ng-controller="verCines as cines">
		<div md-whiteframe="2" flex="20" hide-xs class="columnaCategorias">
			<md-subheader md-no-sticky class="columnaCategorias texto tituloCines">
				<span>Categorias</span>
			</md-subheader>
			<md-divider class="divisor"></md-divider>
			<md-list ng-init="mostrar = 2" class="columnaCategorias texto">
				<md-list-item class="secondary-button-padding" ng-click="mostrar = 1"
					ng-class="{'columnaCategorias active': mostrar === 1}">
					<i class="material-icons cine-ico" ng-class="{'columnaCategorias active':mostrar == 1}">
						favorite
					</i>
					<p>Favoritos</p>
				</md-list-item>
				<md-list-item class="secondary-button-padding" ng-click="mostrar = 2"
					ng-class="{'columnaCategorias active': mostrar === 2}">
					<i class="material-icons cine-ico" ng-class="{'columnaCategorias active':mostrar == 2}">
						near_me
					</i>
					<p>Cercanos</p>
				</md-list-item>
				<md-list-item class="secondary-button-padding" ng-click="mostrar = 3"
					ng-class="{'columnaCategorias active': mostrar == 3}">
					<i class="material-icons cine-ico" ng-class="{'columnaCategorias active':mostrar == 3}">
						star_rate
					</i>
					<p>Mejor valorados</p>
				</md-list-item>
			</md-list>
		</div>

		<!-- COLUMNA DE LISTA DE CINES DISPONIBLES -->
		<div md-whiteframe="2" flex-xs="100" flex="" class="columnasCines columnaLista">
			<md-subheader md-no-sticky class="tituloCines columnaLista" >
				<span>Cines</span>
				<span ng-show="mostrar === 1"> favoritos</span>
				<span ng-show="mostrar === 2"> más cercanos</span>
				<span ng-show="mostrar === 3"> mejor valorados</span>
			</md-subheader>
			<md-divider class="divisor"></md-divider>

			<!-- LISTA DE CINES MAS CERCANOS -->
			<div ng-show="model.pelicula == '-'">
				<md-list ng-show="mostrar === 2" ng-repeat="cine in cines" ng-init="i=$index;" layout-align="start center">
					<md-list-item class="md-3-line" layout="row" ng-class="{'columnaLista active': detalle == i}"
						ng-click="model.cines = cine.nombre; $setActiveIndex(2)">
						<img ng-src="{{cine.imagen}}" class="md-avatar" alt="Foto cine"/>
						<div class="md-list-item-text">
							<h3>{{cine.nombre}}</h3>
							<h4>{{cine.encuentra}}</h4>
							<p>{{cine.direccion}}</p>
						</div>
						<md-button class="md-icon-button md-secondary" aria-label="info" ng-click="$parent.detalle = i">
							<i class="material-icons">info_outline</i>
						</md-button>
					</md-list-item>
				</md-list>
			</div>
			<div ng-show="model.pelicula != '-'">
				<md-list ng-show="mostrar === 2" ng-repeat="cine in cines" ng-init="i=$index;" layout-align="start center">
					<md-list-item class="md-3-line" layout="row" ng-class="{'columnaLista active': detalle == i}"
						ng-click="model.cines = cine.nombre; $nextStep()">
						<img ng-src="{{cine.imagen}}" class="md-avatar" alt="Foto cine"/>
						<div class="md-list-item-text">
							<h3>{{cine.nombre}}</h3>
							<h4>{{cine.encuentra}}</h4>
							<p>{{cine.direccion}}</p>
						</div>
						<md-button class="md-icon-button md-secondary" aria-label="info" ng-click="$parent.detalle = i">
							<i class="material-icons">info_outline</i>
						</md-button>
					</md-list-item>
				</md-list>
			</div>

			<!-- LISTA DE CINES MEJOR VALORADOS -->
			<div ng-show="model.pelicula == '-'">
				<md-list ng-show="mostrar === 3" ng-repeat="cine in cines | orderBy:'-valoracion'" ng-init="i=$index+4;"
					layout-align="start center">
					<md-list-item class="md-3-line" layout="row" ng-class="{'columnaLista active': detalle == i}"
						ng-click="model.cines = cine.nombre; $setActiveIndex(2)">
						<img ng-src="{{cine.imagen}}" class="md-avatar" alt="Foto cine"/>
						<div class="md-list-item-text">
							<h3>{{cine.nombre}}</h3>
							<h4>{{cine.encuentra}}</h4>
							<p>{{cine.direccion}}</p>
						</div>
						<md-button class="md-icon-button md-secondary" aria-label="info" ng-click="$parent.detalle = i">
							<i class="material-icons">info_outline</i>
						</md-button>
					</md-list-item>
				</md-list>
			</div>
			<div ng-show="model.pelicula != '-'">
				<md-list ng-show="mostrar === 3" ng-repeat="cine in cines | orderBy:'-valoracion'" ng-init="i=$index+4;"
					layout-align="start center">
					<md-list-item class="md-3-line" layout="row" ng-class="{'columnaLista active': detalle == i}"
						ng-click="model.cines = cine.nombre; $nextStep()">
						<img ng-src="{{cine.imagen}}" class="md-avatar" alt="Foto cine"/>
						<div class="md-list-item-text">
							<h3>{{cine.nombre}}</h3>
							<h4>{{cine.encuentra}}</h4>
							<p>{{cine.direccion}}</p>
						</div>
						<md-button class="md-icon-button md-secondary" aria-label="info" ng-click="$parent.detalle = i">
							<i class="material-icons">info_outline</i>
						</md-button>
					</md-list-item>
				</md-list>
			</div>
		</div>

		<!-- CONTENIDO DE LA INFORMACION -->
		<md-content md-whiteframe="2" flex="45" hide-xs ng-init="detalle = -1" ng-show="detalle != -1" class="tarjetaInfo">
			<div>
				<img ng-show="detalle === 0 || detalle === 5" ng-src="{{cines[0].mapa}}" alt="mapa" class="mapa">
				<img ng-show="detalle === 1 || detalle === 4" ng-src="{{cines[1].mapa}}" alt="mapa" class="mapa">
				<img ng-show="detalle === 2 || detalle === 6" ng-src="{{cines[2].mapa}}" alt="mapa" class="mapa">
				<img ng-show="detalle === 3 || detalle === 7" ng-src="{{cines[3].mapa}}" alt="mapa" class="mapa">
			</div>
			<md-toolbar class="tituloTarjeta">
				<div class="md-toolbar-tools" layout-align="start center">
					<div layout="column" layout-align="center start">
						<div id="tituloTarjeta">
							<span ng-show="detalle === 0 || detalle === 5">
								{{cines[0].nombre}}

							</span>
							<span ng-show="detalle === 1 || detalle === 4">
								{{cines[1].nombre}}

							</span>
							<span ng-show="detalle === 2 || detalle === 6">
								{{cines[2].nombre}}

							</span>
							<span ng-show="detalle === 3 || detalle === 7">
								{{cines[3].nombre}}

							</span>
						</div>
						<div layout="row" layout-align="start center" id="subtituloTarjeta">
							<md-button class="md-icon-button" aria-label="Favorito" ng-init="!liked"
							ng-click="liked=!liked">
								<i class="material-icons md-18 pink1" ng-show="liked">favorite</i>
								<i class="material-icons md-18 pink1" ng-show="!liked">favorite_border</i>
							</md-button>
							<span>Marcar como favorito</span>
						</div>
					</div>
					<span flex=""></span>
					<md-button class="md-raised" aria-label="Learn More" ng-show="model.pelicula != '-'"
							ng-click="$nextStep()">
          				SELECCIONAR
        			</md-button>
        			<md-button class="md-raised" aria-label="Learn More" ng-show="model.pelicula == '-'"
							ng-click="model.pelicula = pelicula.titulo; model.imagen = pelicula.imagen; $setActiveIndex(2)">
          				SELECCIONAR
        			</md-button>
				</div>
			</md-toolbar>
			<md-content>
				<md-subheader class="md-primary">
					Información
				</md-subheader>
				<md-list>
					<md-list-item>
						<i class="material-icons cine-ico">place</i>
						<a ng-show="detalle === 0 || detalle === 5" target="_blank" ng-href="{{cines[0].llegar}}">
							{{cines[0].direccion}}
						</a>
						<a ng-show="detalle === 1 || detalle === 4" target="_blank" ng-href="{{cines[1].llegar}}">
							{{cines[1].direccion}}
						</a>
						<a ng-show="detalle === 2 || detalle === 6" target="_blank" ng-href="{{cines[2].llegar}}">
							{{cines[2].direccion}}
						</a>
						<a ng-show="detalle === 3 || detalle === 7" target="_blank" ng-href="{{cines[3].llegar}}">
							{{cines[3].direccion}}
						</a>
					</md-list-item>
					<md-list-item>
						<i class="material-icons cine-ico">link</i>
						<a ng-show="detalle === 0 || detalle === 5" target="_blank"
							ng-href="{{cines[0].paginaweb}}">
							{{cines[0].paginaweb}}
						</a>
						<a ng-show="detalle === 1 || detalle === 4" target="_blank"
							ng-href="{{cines[0].paginaweb}}">
							{{cines[1].paginaweb}}
						</a>
						<a ng-show="detalle === 2 || detalle === 6" target="_blank"
							ng-href="{{cines[0].paginaweb}}">
							{{cines[2].paginaweb}}
						</a>
						<a ng-show="detalle === 3 || detalle === 7" target="_blank"
							ng-href="{{cines[0].paginaweb}}">
							{{cines[3].paginaweb}}
						</a>
					</md-list-item>
					<md-list-item>
						<i class="material-icons cine-ico">phone</i>
						<p ng-show="detalle === 0 || detalle === 5" >{{cines[0].telefono}}</p>
						<p ng-show="detalle === 1 || detalle === 4" >{{cines[1].telefono}}</p>
						<p ng-show="detalle === 2 || detalle === 6" >{{cines[2].telefono}}</p>
						<p ng-show="detalle === 3 || detalle === 7" >{{cines[3].telefono}}</p>
					</md-list-item>
				</md-list>
			</md-content>
		</md-content>
	</div>
</md-content>
