<!DOCTYPE html>
<html lang="es" ng-app="cine">

<head>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Cine | Entradas.com</title>
	<link rel="icon" type="image/png" href="images/e_roboto.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS de la página -->
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Script de la página, aqui va el angular y el material y cosas para que funcione en red -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/angular-multi-step-form/dist/browser/angular-multi-step-form.js"></script>
	<script src="bower_components/firebase/firebase.js"></script>
	<script src="bower_components/angularfire/dist/angularfire.js"></script>
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
	<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

	<!-- Modulos cargados -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controladores.js"></script>
	<script src="scripts/database.js"></script>
</head>

<body ng-cloak="">
	<!-- ToolBar - BEGIN -->
	<!-- <md-toolbar class="md-hue-2"> -->
	<md-toolbar class="md-toolbar-tools">
		<!-- <md-button class="md-icon-button" ng-disabled="true"> -->
		<md-button class="md-icon-button" ng-disabled="false">
			<md-icon> menu </md-icon>
		</md-button>
		<h1>
			<span>{{company}}</span>
		</h1>
		<span flex></span>
		<md-button class="md-icon-button">
			<md-icon>search</md-icon>
		</md-button>
	</md-toolbar>
	<!--
	 Barra de progreso valores: [0, 100]. Considerar seleccionar la pelicula completa un paso
	 1 - Selección Pelicula / Cine    25%
	 2 - Selección Cine / Película    50%
	 3 - Selección Sesión y Butacas   75%
	 4 - Pago                         100%
	-->
	<md-content class="cuerpo md-primary" ng-controller="steps">
	<!-- Tu código aquí - BEGIN-->
	<multi-step-container steps="steps">
		<header>
			<md-progress-linear ng-hide="$isFirst()" md-mode="determinate" value="{{$getActiveStep().title}}" class="md-warn">
			</md-progress-linear>
			<div>
				<button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
					<span class="fa fa-chevron-left"></span>
					Previous
				</button>
				<strong ng-bind-template="{{$getActiveIndex()}}. {{$getActiveStep().title}}"></strong>

				<button ng-disabled="$isLast()" class="btn btn-default" ng-click="$nextStep()">
					Next
					<span class="fa fa-chevron-right"></span>
				</button>
			</div>
		</header>
		<div layout-gt-xs="row" layout-xs="column">
			<main step-container flex-gt-xs="75" flex-xs="100"></main>
			<info-proceso flex-gt-xs="25" flex-xs="100"></info-proceso>
		</div>
	</multi-step-container>
	<!-- Tu código aquí - END-->
	</md-content>
</body>

</html>
